.h1{
    text-align: center;
}
.logo{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        border-radius: 50%;
    }
    
.logo:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.logos{
    margin-inline:650px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.area{
    background-color: #d8cac9;
    text-align: center;
    padding: 0 300px 100px 300px;
}

.projects{
    display: grid;
    margin-top: 30px;
    gap: 20px;
    text-align: center;
    grid-template-columns: 1fr 1fr ;
    background-color: #d8cac9;
}
.projectPage{
    padding: 200px;
    background-color: #e7e5e5;

}
.h2{
    padding: 20px;
}
